---
import Custompicture from '@components/custompicture.astro';

const { url, src, title } = Astro.props;
---

<a class="text-inherit no-underline hover:underline" data-astro-prefetch href={url}>
  <div class="flex flex-col gap-2 overflow-hidden rounded-lg">
    {
      typeof src === 'string' ? (
        <Custompicture src={src} alt={title} />
      ) : (
        <Custompicture {...src} alt={title} />
      )
    }
    <div>
      <h2 class="m-auto text-xl">{title}</h2>
    </div>
  </div>
</a>
